- var server = function(socket) {
-   this.socket = socket;
- }
- 
- server.prototype.watching = function(agent) {
-   this.socket.emit('watching', agent);
- }
- 
- var socket = io.connect();
- 
- $(document).ready(function() {
-   var server = new 
- });
