div.panel-heading
  | Route Maps
div.panel-body
  p Any new candidate for election will know that one of the most common
    | ways of communicating with your future electorate is to deliver
    | leaflets to them. Whether in the form of a newsletter, survey or
    | street surgery invitation. It is also one of the easiest parts to
    | delegate and unlike canvassing something most people taking their
    | first steps into political activism are prepared to undertake.
  p Even if you are campaigning on your own with leaflets printed off on
    | your home PC the benefits to your own moral of a well segmented set
    | of route maps, allowing you to easily mark progress, should not be
    | underestimated. Further in the event you recruit any like minded
    | activists, friends or receive mutual aid from fellow candidates in
    | neighbouring areas it is much easier to delegate with clearly marked
    | and easy to read maps which can be customised to use a limited number
    | of meeting points and finishing locations.
