div(id='watching')
  script.
    var target = document.getElementById('watching');
    var spinner = new Spinner(spinnerOpts).spin(target);
    $(document).ready(function() {
      $("#watching").load("watching");
    });
