extends layout

block header
  h1 #{name}

block summary
  p Get access to our products and services.

block content
  div(class='panel panel-default')
    div.panel-heading
      | Freemium
    div.panel-body
      p We believe in our services. We believe that they will sell themselves and
        | that those involved with political campaigning at all levels will
        | immediately see their value. Therefore we are currently providing basic
        | functionality for free.
