doctype html
html
  head
    title #{leafletMap.route.NAME}
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
  body
    h1 Thank you!
