body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 23px;
}

a {
  color: #00B7FF;
}

.rrp {
    color: #f00;
    text-decoration:line-through;
    padding: 0 5px 0 0;
}

.price-table-item {
    width: 400px;
}

input {
    width: 100%;
}

.legal-footer {
    text-align:center;
    color: #999;
    font-size: 75%;
    margin:5px 0;
}

li.route {
    color:red;
}

ul.tree, ul.tree ul {
    list-style-type: none;
    background: url(../images/vline.png) repeat-y;
    margin: 0;
    padding: 0;
}

ul.tree ul {
    margin-left: 10px;
}

ul.tree li {
    padding-left: 12px;
    line-height: 20px;
    background: url(../images/node.png) no-repeat;
}

ul.tree li.last {
    background: #fff url(../images/lastnode.png) no-repeat;
}
